<div class="rating">
  <input id="item5" name="rating" type="radio"
         value="5" class="rating__check">
  <label for="item5" class="rating__star rating__star_choose"></label>

  <input id="item4" name="rating" type="radio"
         value="4" class="rating__check">
  <label for="item4" class="rating__star rating__star_choose"></label>

  <input id="item3" name="rating" type="radio"
         value="3" class="rating__check">
  <label for="item3" class="rating__star rating__star_choose"></label>

  <input id="item2" name="rating" type="radio"
         value="2" class="rating__check">
  <label for="item2" class="rating__star rating__star_choose"></label>

  <input id="item1" name="rating" type="radio"
         value="1" class="rating__check">
  <label for="item1" class="rating__star rating__star_choose"></label>
</div>
